@use 'sass:math';
@use 'variables';
@use 'theme';
@use 'functions';

// sadly we got to use it here too, gotta remove
// it asap
@use 'sass:color';


@mixin rollable {
    &:hover {
        @include linkHovered;
        cursor: pointer;
    }
}

@mixin systemFonts {
    font-family: variables.$sans-font-stack;
}

@mixin title {
    font-family: variables.$sans-font-stack;
    color: var(--sr5-text-primary);
    @include textOutline;
}

@mixin textOutline {
    color: var(--sr5-text-primary);
    text-shadow: -1px -1px 0 var(--sr5-text-primary-inverse), 1px -1px 0 var(--sr5-text-primary-inverse), -1px 1px 0 var(--sr5-text-primary-inverse),
        1px 1px 0 var(--sr5-text-primary-inverse);
}

@mixin sheet {
    background: var(--sr5-application-background);
    color: var(--sr5-text-primary);
}

@mixin linkHovered {
    text-shadow: 0 0 8px var(--color-shadow-primary);
    color: theme.$fLightRed;
}

/// Apply a FoundryVTT font size using a CSS variable fallback.
/// Example: @include font-size(16);
/// Base size that foundry uses at the moment (v13) is 14.
@mixin font-size($px, $lh: null) {
  font-size: var(--font-size-#{$px}, #{math.div($px, 16)}rem);
  @if $lh != null {
      line-height: $lh;
  }
}
